
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1> Welcome to MVC !!!</h1>
        <h2 id="demo" IBMStr="Hello Dynamic HTML Attribute "></h2>
    </div>

    <script src="~/Scripts/jquery-3.7.0.min.js"></script>


    <script>
        alert($("#demo").attr("IBMStr")   );

    </script>
</body>
</html>
