
@{
    ViewBag.Title = "SimpleLayoutContent";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}



@section Footer
{
    <h3> Footer from Content Page </h3>

}

<h2>SimpleLayoutContent</h2>




@section Script
{
    <script>

        alert('Script Section');

    </script>




}